*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.common_container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

/**************Nav Bar Start*******************/
.nav_sec{
    padding: 30px 0 0 0;
}

@media screen and (max-width:1000px) {
    .nav_sec{
        padding: 20px 0 20px 0;
    }
}

.info_common__container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
    display: -webkit-bo-x;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width:1000px) {
    nav{
        border-bottom: none;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
}

.navbar_lead img{
    width: 120px;
}

.navbar_logo img{
    width: 120px;
}

@media screen and (max-width:1000px) {
    .navbar_lead img,.navbar_logo img{
        position: relative;
        z-index: 999;
        width: 120px;
    }
}

.navbar_ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	align-items: center;
    gap: 10px;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

@media screen and (max-width:1000px) {
    .navbar_ul{
    height: 100%;
    width: 0%;
    position: absolute;
    z-index: 33;
    top: 0;
    right: 0;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 85px;
    }
}

.navbar_mob .navbar_ul{
    width: 50%;
}


@media screen and (max-width:600px) {
    .navbar_mob .navbar_ul{
        width: 100%;
    }   
}

.navbar_li{
    list-style-type: none;
    padding: 0 10px 5px 10px;
}

@media screen and (max-width:1000px) {
    .navbar_li{
        display: none;
        padding: 20px 20px;
        opacity: 0;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    .navbar_mob .navbar_li{
        opacity: 1;
        display: block;
    } 
}


.navbar_anchor{
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    padding: 0 0 10px 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

@media screen and (max-width:1000px) {
    .navbar_anchor{
        display: block;
        color: #000;
        width: 100%;
    }   
}

.navbar_anchor::before{
    content: ' ';
    width: 0%;
    height: 5px;
    background-color: #00B2FF;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
 }


.navbar_anchor:hover::before{
    content: ' ';
    width: 70%;
    height: 5px;
    background-color: #00B2FF;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
 }

.active_nav::before{
   content: ' ';
   width: 70%;
   height: 5px;
   background-color: #00B2FF;
   position: absolute;
   bottom: 0;
   left: 0;
   border-radius: 5px;
}

.disable{
    color: #848484;
	transition: all .3s ease;
}

.disable:hover{
	color: #000;
}

/* .navbar_anchor:hover{
    border-bottom: solid 5px #2b7be8;
} */


@media screen and (max-width:1000px) {
    .active_nav{
       color: #000;
    }   
}


.button {
	padding: 10px 2rem;
	background: #dddcd1;
	border: 1px solid #b2af96;
	cursor: pointer;
	border-radius: 30px;
	color: #fff;
	font-weight: 700;
  }
  .button__text {
	color: #fff;
  }
  .button:hover {
	animation: none;
	border-color: transparent;
	box-shadow: inset 0 0 0 2px #000;
  }
  
  .button--primary {
	border-color: #00B2FF;
	background: #00B2FF;
  }
  .button--primary.button-effect--pulse {
	border-color: #fff;
	color: #00B2FF;
  }
  
  .button-effect--pulse {
	animation: button__pulse 2s infinite;
  }
  
  @keyframes button__pulse {
	0% {
	  box-shadow: 0 0;
	}
	70% {
	  box-shadow: 0 0 6px 10px rgba(255, 255, 255, 0);
	}
	100% {
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
  }

/* @media screen and (max-width:1000px) {
    
} */

/*****nav mobile*************/
.nav_menu{
    display: none;
}
@media screen and (max-width:1000px) {
.nav_menu{
    display: block;
    position: relative;
    z-index: 999;
    top: 4px;
    right: 18px;
    padding: 10px;
}

.nav_menu span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
        -ms-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.navbar_mob .nav_menu span{
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -20px);
        -ms-transform: rotate(45deg) translate(-2px, -20px);
            transform: rotate(45deg) translate(-2px, -20px);
    background: #232323;   
}

.navbar_mob .nav_menu span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
        -ms-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
}

.navbar_mob .nav_menu span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, 14px);
        -ms-transform: rotate(-45deg) translate(0, 14px);
            transform: rotate(-45deg) translate(0, 14px);
}

}

.registerbar{
    position: relative;
}
/**************Nav Bar End*******************/


/**************Banner Section Start*******************/

.banner_sec{
	position: relative;
}

.banner_sec::before{
   content: ' ';
   width: 100%;
   height: 100%;
   background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(1,107,154,0.31976540616246496) 35%, rgba(1,107,154,1) 100%);
   position: absolute;
   z-index: 1;	
}

.banner_info{
	max-width: 550px;
	text-align: center;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width:600px) {
	.banner_info{
		width: 100%;
		padding: 0 20px;
	}
}

.banner_txt{
	color: #fff;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 30px;
}

@media screen and (max-width:600px) {
	.banner_txt{
		font-size: 14px;
		line-height: 22px;
	}	
}

.banner_copy__txt{
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	margin-top: 100px;
}

@media screen and (max-width:600px) {
	.banner_copy__txt{
		margin-top: 30px;
	}	
}

.banner__reg_btn{
	background-color: #fff;
	border-radius: 5px;
	padding: 8px 20px;
	color: #0062cc;
	text-decoration: none;
	font-weight: bold;
}

.banner_vid{
    padding:  10px 0 0 0;
}

@media screen and (max-width:1000px) {
    .banner_vid{
        padding: 0;
    }
}

.banner_vid video{
    width: 100%;
}

.banner_vid-dktp{
    display: block;
}

.banner_vid-mb{
    display: none;
}

@media screen and (max-width:600px) {
    .banner_vid-dktp{
        display: none;
    }
    .banner_vid-mb{
        display: block;
    }
}

/**************Banner Section End*******************/

/**************Book Section Start*******************/
h2 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}
button {
	border-radius: 0;
}

button {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
[type="button"],
button {
	-webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
h2 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
h2 {
	font-size: 2rem;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
	.btn {
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}
.btn:hover {
	color: #212529;
	text-decoration: none;
}
.btn:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn:disabled {
	opacity: 0.65;
}
.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}
.btn-primary:focus {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
	        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-primary:disabled {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-secondary:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}
.btn-secondary:focus {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
	        box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-secondary:disabled {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-info {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}
.btn-info:hover {
	color: #fff;
	background-color: #138496;
	border-color: #117a8b;
}
.btn-info:focus {
	color: #fff;
	background-color: #138496;
	border-color: #117a8b;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
	        box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
.btn-info:disabled {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}
.btn-sm {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}
.btn-group {
	position: relative;
	display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	vertical-align: middle;
}
.btn-group > .btn {
	position: relative;
	-ms-flex: 1 1 auto;
	-webkit-box-flex: 1;
	        flex: 1 1 auto;
}
.btn-group > .btn:hover {
	z-index: 1;
}
.btn-group > .btn:active,
.btn-group > .btn:focus {
	z-index: 1;
}
.btn-group > .btn:not(:first-child) {
	margin-left: -1px;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.btn-group > .btn:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.bg-light {
	background-color: #f8f9fa !important;
}
.overflow-hidden {
	overflow: hidden !important;
}
.mb-2 {
	margin-bottom: 0.5rem !important;
}
.mt-3 {
	margin-top: 1rem !important;
}
.mb-3 {
	margin-bottom: 1rem !important;
}
.pt-3 {
	padding-top: 1rem !important;
}
.pb-3 {
	padding-bottom: 1rem !important;
}
.text-center {
	text-align: center !important;
}
@media print {
	*,
	::after,
	::before {
		text-shadow: none !important;
		-webkit-box-shadow: none !important;
		        box-shadow: none !important;
	}
	h2 {
		orphans: 3;
		widows: 3;
	}
	h2 {
		page-break-after: avoid;
	}
	.container {
		min-width: 992px !important;
	}
}
/*! CSS Used from: https://nodlik.github.io/StPageFlip/static/style.css */
.demo-block {
	border-top: solid 1px #dcdcdc;
	border-bottom: solid 1px #dcdcdc;
}
.flip-book {
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
	        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	display: none;
}
.page {
	padding: 20px;
	background-color: #fdfaf7;
	color: #785e3a;
	border: solid 1px #c2b5a3;
	overflow: hidden;
}
.page .page-content {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}
.page .page-content .page-header {
	height: 30px;
	font-size: 100%;
	text-transform: uppercase;
	text-align: center;
}
.page .page-content .page-image {
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.page .page-content .page-text {
	height: 100%;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	font-size: 80%;
	text-align: justify;
	margin-top: 10px;
	padding-top: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-top: solid 1px #f4e8d7;
}
.page .page-content .page-footer {
	height: 30px;
	border-top: solid 1px #f4e8d7;
	font-size: 80%;
	color: #998466;
}
.page.--left {
	border-right: 0;
	-webkit-box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
	        box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}
.page.--right {
	border-left: 0;
	-webkit-box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
	        box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}
.page.--right .page-footer {
	text-align: right;
}
/*! CSS Used from: Embedded */
.stf__wrapper {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
}
.stf__wrapper canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.stf__block {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.stf__item {
	display: none;
	position: absolute;
}

#buttonDemoSelection{
  position: absolute;
}

.btn-hidden{
    visibility: hidden;
}
/**************Book Section End*******************/

/**************Achivement Section Start*******************/
.achive_sec{
    padding: 20px 0;
}
.achive_info img{
 width: 100%;
}

.achive_dkstp{
	display: block;
}

.achive_mob{
	display: none;
}

@media screen and (max-width:600px) {
	.achive_dkstp{
		display: none;
	}
	.achive_mob{
		display: block;
	}
}

/**************Achivement Section End*******************/

/**************Live Stear Start*******************/
.banner_vid{
	position: relative;
}

.banner_live__img{
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
	z-index: 1;
}

/**************Live Stear End*******************/

/**************Filter gallery Start*******************/
a {
	text-decoration: none;
	cursor: pointer;
	outline: 0;
  }
  
  .section-padding {
	padding-top: 80px;
  }
  
  .gallery-section {
	position: relative;
	z-index: 1;
  }
  
  .title {
	font-size: 46px;
	font-weight: 700;
	font-family: "Playfair Display", serif;
	color: #f44336;
  }
  
  .filter {
	text-align: center;
	max-width: 1050px;
	margin: auto;
  }
  
  .btn {
	padding: 8px 12px;
	margin: 5px 4px 4px 0;
	display: inline-block;
	color: #fff;
	border: 1px solid #000;
	transition: all 0.4s;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
  }
  .btn:hover,
  .btn-active {
	border: solid 1px #00b2ff;
	color: #00b2ff;
	-webkit-transform: translateY(3px);
	-ms-transform: translateY(3px);
	transform: translateY(3px);
  }
  .gallery {
	display: flex;
	justify-content: center;
	width: fit-content;
	max-width: 1320px;
	flex-wrap: wrap;
	margin: 25px auto;
	/* gap: 14px; */
  }
  .gallery a {
	display: flex;
  }
  .gallery .img_thumbnail {
	width: 200px;
	height: 220px;
	object-fit: cover;
	transition: 0.3s ease-in-out;
	border-radius: 12px;
	overflow: hidden;
	margin: 10px 10px;
  }
  
  .gallery .img_thumbnail:hover {
	transform: scale(1.1);
  }
  
  .sets .hide,
  .sets .pophide {
	width: 0%;
	opacity: 0;
  }

  .closeBtn::after{
		content: url('../images/close.png');
  }
  
  .closeBtn {
	position: absolute;
	cursor: pointer;
	font-size: 12px;
	border-radius: 100%;
	font-weight: 500;
	right: 25px;
	top: 25px;
	color: white;
	transition: 0.5s linear;
	outline: none;
	border: none;
	background: none;
  }
  
  
  .openDiv {
	width: 100%;
	height: 100vh;
	background: #000000e7;
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: 0;
	z-index: 9999;
  }
  .imgPreview {
	width: 70%;
	object-fit: scale-down;
	max-height: 40vw;
	height: auto;
  }
  .prevButton,
  .nextButton {
	transition: 1s linear;
	padding: 10px 35px;
	font-size: 18px;
	border: none;
	color: white;
	background: #0005;
	border-radius: 10px;
	border: 1px solid white;
	margin: 10px;
  }
  .prevButton:hover,
  .nextButton:hover {
	background: #fff;
	color: black;
  }
  
  /* resposive CSS Code */
  
  @media (max-width: 1199px) {
	.section-padding {
	  padding-top: 70px;
	}
  }
  @media (max-width: 991px) {
	.section-padding {
	  padding-top: 50px;
	}
  }
  @media (max-width: 767px) {
	.title {
	  font-size: 36px;
	}
	.gallery .img_thumbnail {
	  margin: 8px 8px;
	  width: 175px;
	}
	
	.prevButton,
	.nextButton {
	  font-size: 18px;
	  padding: 8px 25px;
	}
  }
  
  @media (max-width: 540px) {
	.section-padding {
	  padding-top: 30px;
	}
  
	.gallery .img_thumbnail {
	  margin: 8px 6px;
	  width: 155px;
	}
  
	.closeBtn {
	  font-size: 12px;
	
	}
	.prevButton,
	.nextButton {
	  font-size: 18px;
	  padding: 6px 20px;
	  border-radius: 10px;
	  margin: 5px;
	}
  
	.imgPreview {
	  width: 90%;
	  max-height: 50vh;
	  height: auto;
	}
  }

  .Videos{
	position: relative;
  }
  
  .vid_play_ico{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
.vid_play_ico img{
	max-width: 44px;
	filter: grayscale(100%);
}
.butonsSection{
	display: none;
}
/**************Filter gallery End*******************/
/************Promises Start*******************/
.promises_sec{
	padding: 60px 0;
}

@media screen and (max-width:600px) {
	.promises_sec{
		padding: 30px 0;
	}	
}

.promises_wrapper{
	display: flex;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}

.promises_info img{
	width: 100%;
	max-width: 340px;
	border: solid 1px #ccc;
}
/************Promises End*******************/

